// variables
@import '../../styles/variables/colors';
@import '../../styles/variables/mixins';

// Homepage Style
.floating-style {
  position: fixed;
  bottom: 80px;
  right: 70px;
  min-width: 160px;
  height: 40px;
  background: $white;
  border: 1px solid #F6F6F6;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 5px 12px;

  .divider {
    height: 100%;
    width: 1px;
    background: #EAEAEA;
    margin: 0;
  }

  button {
    border: 0;
    background: none;
    font-weight: 600;
    font-size: 13px;

    i[class*="fa"] {
      color: $theme-primary;
      margin-left: 2px;
    }
  }
}